*{
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

body{
	font-family: serif;
}
header{
    background: #ffffff;
    padding: 20px 0;
}
.container{
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.logo{
    width: 20%;
    flex: 0 1 auto;
}
.logo a{}
.logo a img{}
nav{
    width: 80%;
    flex: 0 1 auto;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    overflow: hidden;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    color: #353334;
    font-size: 22px;
    text-decoration: none;
    padding: 17px;
}

section{
		height: 90vh;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}

section .container {
    height: 100%;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 150px;
}
.yellow {background-image: url(../images/portfolio-item57.jpg);}
.blue {background-image: url(../images/portfolio-item58.jpg);}
.green {background-image: url(../images/portfolio-item60.jpg);}
.purple {background-image: url(../images/portfolio-item59.jpg);}
.pink {background-image: url(../images/portfolio-item61.jpg);}		

section h2{
    background: #fff;
    padding: 15px 40px;
    font-weight: 600;
    color: #a0173a;
}
section a{
    font-size: 30px;
    text-decoration: none;
    color: #f6f6f6;
    background: #1a13c9;
    padding: 10px 40px;
    margin-top: 10px;
}
